@font-face {
    font-family: 'Caveat';
    src: url('./../assets/font/Caveat-Regular.eot');
    src: url('./../assets/font/Caveat-Regular.eot?#iefix') format('embedded-opentype'),
        url('./../assets/font/Caveat-Regular.woff2') format('woff2'),
        url('./../assets/font/Caveat-Regular.woff') format('woff'),
        url('./../assets/font/Caveat-Regular.ttf') format('truetype'),
        url('./../assets/font/Caveat-Regular.svg#Caveat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$color1: #8d8d8d;
$color2: #b3b3b3;
$color3: #ccccca;
$color4: #cdcdcd;

$color5: #291f1d;
$color6: #2e2321;
$color7: #302624;

$color8: #d2bea5;
$color9: #b0947c;
$color10: #dbc7af;

$color_white: #ffffff;
$color_black: #000000;

$border_radius_lang: 8px;

$width_card_img: 250px;
$width_card_border: 2px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-size: 10px;
    font-family: monospace;
    color: $color_black;

    background-color: $color_white;

    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: auto;

    padding: 0 5%;
}

.main {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 1000px;
    align-items: flex-start;
    justify-content: space-between;

    flex-wrap: wrap;
}

.gray {
    background-color: $color3;
}

.header {
    display: flex;
    width: 100%;
    height: auto;

    background-color: $color1;

    font-size: 1.6rem;
    color: $color_white;
}

.head_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.header_info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header_info_link {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 20px;

    color: $color_white;
    text-decoration: none;

    &:hover {
        color: $color_black;

        .header_info_img {
            filter: invert(0);
        }
    }
}

.header_info_img {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 10px;

    filter: invert(1);
}

.header_language {
    text-transform: uppercase;
}

.show_language {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
}

.show_language_text {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}

.language_list {
    position: absolute;
    top: 100%;
    left: 0;

    display: flex;
    flex-direction: column;
    background-color: #8d8d8d;
    border-radius: $border_radius_lang;
    border: 1px solid black;

    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;

    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.language_item {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;

    &:not(:last-child) {
        //margin: 5px;
        border-bottom: 1px solid $color_black;
    }

    &:first-child {
        border-radius: $border_radius_lang $border_radius_lang 0 0;
    }

    &:last-child {
        border-radius: 0 0 $border_radius_lang $border_radius_lang;
    }

    &:hover {
        color: $color_black;
        background-color: $color2;
    }
}

.show_language:hover .language_list {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.show_language_img {
    width: 10px;
    height: 10px;

    filter: invert(1);
}

.logo_favorites {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem;

    background-color: $color3;
    color: $color_black;
}

.logo_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
}

.logo {
    font-family: 'Caveat';
    text-transform: capitalize;
    font-size: 6rem;
}

.logo_info {
    font-size: 2rem;
}

.favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        color: $color_white;

        .favorites_img {
            filter: invert(1);
        }
    }
}

.favorites_img {
    width: 50px;
    filter: invert(0);
}

.favorites_text {
    font-size: 1.4rem;
}

.menu {
    padding: 5px 0;

    color: $color_white;
    background-color: $color1;
    font-size: 1.4rem;

    .container {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.menu_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu_item {
    position: relative;

    display: flex;
    line-height: 1;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    align-items: center;

    cursor: pointer;

    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 70%;

        display: block;
        width: 0%;
        height: 1px;
        margin-top: 5px;

        background-color: $color_white;

        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    &:hover:after,
    &:focus:after {
        width: 100%;
    }
}

.show_dropdown_menu {
    transition: .5s linear;
}

.dropdown_menu_list {
    position: absolute;
    top: 100%;
    left: 0;

    display: flex;
    flex-direction: column;
    background-color: #8d8d8d;
    border-radius: $border_radius_lang;
    //border: 1px solid black;

    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;

    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.show_dropdown_menu:hover .dropdown_menu_list {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.show_dropdown_menu_img {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.menu_item_active:after {
    width: 100%;
}

.card_border {
    position: relative;

    display: flex;
    flex-direction: column;
    width: $width_card_img;
    height: 416px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 20px;

    border: $width_card_border solid $color5;
    border-radius: $border_radius_lang;

    transition: 0.3s;

    cursor: pointer;

    &:hover,
    &:focus {
        border: $width_card_border solid $color9;

        .card_name {
            color: $color9;
        }
    }
}

.card_img_border {
    position: relative;

    display: flex;
    width: 100%;
    height: $width_card_img;
    margin-bottom: 15px;
}

.card_img_first,
.card_img_second {
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;

    width: calc(250px - 2px * 2);
    height: $width_card_img;

    border-radius: calc(8px - 2px) calc(8px - 2px) 0 0;

    opacity: 1;
}

.card_img_first {
    z-index: 2;
}

.card_img_second {
    z-index: 1;
}

.card_img_first:hover {
    opacity: 0;
}


.card_name {
    position: relative;

    width: 100%;
    margin-bottom: 15px;
    font-size: 2rem;
    color: $color5;

    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_cost {
    position: relative;

    width: 100%;
    margin-bottom: 15px;
    font-size: 2.5rem;
    color: $color5;

    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:after {
        content: "";
        position: absolute;
        left: 50%;

        display: block;
        width: 0%;
        height: 1px;

        background-color: $color5;

        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.card_button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 45px;
    width: 200px;

    border-radius: 35px;

    background: $color_white;
    color: $color5;
    font-size: 20px;
    border: 2px solid $color5;
    transition: 0.3s;

    outline: none;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;

    &:hover {
        background: $color5;
        color: $color_white;
    }
}

.pages_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    margin: 10px 0 20px 0;
    color: blue;
}

.pages_link {
    text-decoration: underline;
    cursor: pointer;
}

.arrow_link {
    margin: 0 10px;
}

.catalog_card_border {
    display: flex;
    flex-direction: column;
    width: $width_card_img;
    height: 408px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 20px;

    border: $width_card_border solid $color5;
    border-radius: $border_radius_lang;

    transition: 0.3s;

    cursor: pointer;

    &:hover,
    &:focus {
        border: $width_card_border solid $color9;
    }
}

.catalog_card_img_border {
    position: relative;

    display: flex;
    width: 100%;
    height: $width_card_img;
    margin-bottom: 15px;
}

.catalog_card_img_first,
.catalog_card_img_second {
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;

    width: calc(250px - 2px * 2);
    height: $width_card_img;

    border-radius: calc(8px - 2px) calc(8px - 2px) 0 0;

    opacity: 1;
}

.catalog_card_img_first {
    opacity: 1;
    z-index: 2;
}

.catalog_card_img_second {
    z-index: 1;
}

.catalog_card_img_first:hover {
    opacity: 0;
}

.catalog_first_info {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: $color5;

    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.catalog_card_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.catalog_card_second_info {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.catalog_card_dimensions_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.catalog_card_button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 45px;
    width: 200px;

    border-radius: 35px;

    background: $color_white;
    color: $color5;
    font-size: 20px;
    border: 2px solid $color5;
    transition: 0.3s;

    text-align: center;
    outline: none;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;

    &:hover {
        background: $color5;
        color: $color_white;
    }
}

.know_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    font-size: 25px;
}

.know_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.know_div_color {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.know_p {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.4rem;
}

.know_ul {
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    font-size: 1.4rem;
    align-items: flex-start;
    margin: 10px 20px;
}

.know_li {
    list-style-type: circle;
    list-style-position: inside;
}

.color_card {
    width: 150px;
    margin: 15px;
    position: relative;
    border: 5px solid $color2;
    cursor: pointer;

    &:hover {
        border: 5px solid $color1;

        .color_img_text {
            background-color: $color1;
            color: $color_white;
        }
    }
}

.color_img {
    max-width: 100%;
    height: auto;
    display: block;
}

.color_img_text {
    width: 100%;
    padding: 10px;
    color: $color_black;
    text-align: center;
    text-transform: uppercase;
    background: $color2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0 -10px 20px -5px hsla(0, 0%, 0%, .4);
    font-size: 13px;
}

.know_roller_div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.equipment_div_text_center {
    width: 100%;
    margin: 10px 0 25px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    text-decoration: underline;
}

.equipment_text {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.equipment_text_p {
    display: inline;
}

.equipment_text_p_akcent {
    width: 100%;
    display: flex;
    margin: 20px 0;
    font-size: 15px;
    font-weight: bold;
}

.know_additional_div {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.know_additional_p {
    margin: 15px 0;
}

.short_info_product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
}

.short_info_images {
    max-width: 50%;
    width: 50%;
    order: 0;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_image_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 504px;
    border: 2px solid $color1;
    cursor: pointer;

    &:hover {
        border: 2px solid $color3;
    }

    cursor: pointer;
}

.info_image {
    width: 500px;
}

.info_images_div {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.small_image_product_div {
    width: 154px;
    height: 154px;
    cursor: pointer;
    border: 2px solid $color1;
    margin: 10px;

    &:hover {
        border: 2px solid $color3;
    }
}

.small_image_product {
    width: 150px;
    height: 150px;
}

.short_info_text {
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: flex-start;
    width: 50%;
    order: 1;
}

.short_info_header {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* border-bottom: 2px solid; */
    margin-bottom: 15px;
}

.short_info_dimensions {
    font-size: 15px;
    margin-bottom: 5px;
}

.short_info_colors {
    display: flex;
    font-size: 15px;
    margin-bottom: 15px;

    & p:not(:first-child) {
        margin-left: 5px;
    }
}

.short_info_cost_div {
    display: flex;
    border: 2px solid $color1;
    border-radius: 3px;
    padding: 20px;
    width: auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.short_info_cost_text {
    font-size: 15px;
}

.short_info_cost {
    font-size: 20px;
}

.button_add_favorites {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 45px;
    width: auto;

    border-radius: 35px;

    background: $color_white;
    color: $color5;
    font-size: 20px;
    border: 2px solid $color5;
    transition: 0.3s;

    outline: none;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;

    &:hover {
        background: $color5;
        color: $color_white;
    }
}

.button_add_favorites_active {
    background: $color5;
    color: $color_white;

    &:hover {
        background: $color_white;
        color: $color5;
    }
}

.full_description {
    display: flex;
    flex-direction: column;
    width: 100%;
    order: 4;
    margin: 20px 0px;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid $color1;
    padding: 20px;
}

.full_description_name {
    font-size: 24px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.full_description_div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    margin-bottom: 10px;
}

.full_description_label {
    font-weight: bold;
    margin-right: 10px;
}

.no_chosen_one {
    font-size: 2rem;
}

.remove_everything_favorites_div {
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.remove_everything_favorites_button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 45px;
    width: 370px;

    border-radius: 35px;

    background: $color_white;
    color: red;
    font-size: 20px;
    border: 2px solid red;
    transition: 0.3s;

    outline: none;
    text-align: center;


    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;

    &:hover {
        background: red;
        color: $color_white;
    }
}

#dropdown_catalog {
    width: 300px;

    border: 1px solid $color_black;
}

#dropdown_tags {
    width: 160px;

    border: 1px solid $color_black;
}

.dropdown_menu_item {
    padding: 10px;

    text-align: center;

    color: $color_white;

    &:not(:last-child) {
        border-bottom: 1px solid $color_black;
    }

    &:first-child {
        border-radius: $border_radius_lang $border_radius_lang 0 0;
    }

    &:last-child {
        border-radius: 0 0 $border_radius_lang $border_radius_lang;
    }

    &:hover {
        color: $color_black;
        background-color: $color2;
    }
}

.search_div {
    position: relative;
    height: 40px;
}

.search_input {
    height: 40px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    //border-bottom: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    background-image: none;
}

.search_input_active {
    width: 300px;
    z-index: 1;
    //border-bottom: 2px solid $color_black;
    background-color: $color_white;
    background-image: url('./../assets/img/search.png');
    background-position: 260px center;
    background-repeat: no-repeat;
    background-size: 34px;
}

.search_form:focus {
    .search_input {
        width: 300px;
        z-index: 1;
        //border-bottom: 2px solid $color_black;
        background-color: $color_white;
    }
}

/*
.search_input:focus {
    width: 300px;
    z-index: 1;
    //border-bottom: 2px solid $color_black;
    background-color: $color_white;

    #search_button {
        z-index: 50;
        filter: invert(0);
    }
}*/

.search_button {
    position: absolute;
    top: 3px;
    right: 2px;

    height: 34px;
    width: 34px;

    border: none;
    outline: none;

    background: transparent;

    filter: invert(1);
    cursor: pointer;
}

.button_submit {
    position: absolute;
    top: 3px;
    right: 2px;

    height: 34px;
    width: 34px;

    border: none;

    background: transparent;
    background-image: url('./../assets/img/search.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 34px 34px;

    z-index: 5;

    //filter: invert(1);
    cursor: pointer;
}

.no_results_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 20px;
}

.no_results_header {
    font-size: 2rem;
    margin-bottom: 20px;
}

.no_results_p {
    font-size: 14px;
    margin-bottom: 10px;
}

.button_back {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 45px;
    width: 294px;
    margin-top: 20px;

    border-radius: 35px;

    background: $color_white;
    color: $color5;
    font-size: 20px;
    border: 2px solid $color5;
    transition: 0.3s;

    outline: none;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;

    &:hover {
        background: $color5;
        color: $color_white;
    }
}

.footer {
    display: flex;
    width: 100%;
    height: auto;
    margin: 20px 0 0 0;

    background-color: $color1;

    font-size: 1.6rem;
    color: $color_white;
}

.footer_container {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 20px 0;
}

.back_to_top {
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: $color1;
    //color: #444;
    cursor: pointer;
    border-radius: $border_radius_lang;
    display: none;
    border: 1px solid $color3;

    &:hover {
        background: $color3;

        .back_to_top_img {
            filter: invert(0);
        }
    }
}

.back_to_top_active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back_to_top_img {
    width: 25px;
    height: 20px;
    filter: invert(1);
}

.shadow {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.9);

    overflow: hidden;

    z-index: 19999;

    body {
        overflow: hidden;
    }
}

.cross {
    position: absolute;
    filter: invert(0.6);
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;

    z-index: 100500;
    cursor: pointer;

    &:hover {
        filter: invert(1);
    }
}

.slider {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

.slider_prev,
.slider_next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;

    cursor: pointer;

    & img {
        width: 50px;
        height: 50px;

        filter: invert(0.6);
    }

    &:hover {
        & img {
            filter: invert(1);
        }
    }
}

.slider_prev {
    left: 0;
}

.slider_next {
    right: 0;
}

.slide_item {
    height: calc(100% - 39px);

    cursor: pointer;
}

.slide_title {
    width: 100%;
    display: flex;
    height: 39px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    font-size: 25px;

    color: $color_white;
    text-shadow: 0px 0px 5px black;
}

.discount {
    position: absolute;
    z-index: 5;
    top: -15px;
    left: 202px;

    display: block;
    width: 60px;
    height: 60px;
    background: #FFFF00;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);

    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: Arial, sans-serif;

    & span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        width: 60px;
        height: 60px;
        background: #FFFF00;
        -webkit-transform: rotate(48deg);
        -moz-transform: rotate(48deg);
        transform: rotate(48deg);
    }
}

.sale {
    position: absolute;
    width: 100%;
    z-index: 5;
    background: #00CC33;
    color: $color_white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 217px;
    padding: 5px;
}

.strikethrough_text {
    margin-right: 20px;

    color: $color1;
    text-decoration: line-through;
}

@media (min-width: 811px) and (max-width: 1010px) {
    .short_info_product {
        align-items: center;
        justify-content: center;
    }

    .short_info_images {
        margin: 0 10px 20px 10px;
    }

    .info_images_div {
        margin: 0;

        flex-wrap: wrap;

        order: 1;

        align-items: center;
        justify-content: center;
    }

    .short_info_text {
        margin-top: 10px;
        order: 2;
    }

    .short_info_header,
    .short_info_dimensions,
    .short_info_colors {
        justify-content: center;
        text-align: center;
    }
}

@media (min-width: 771px) and (max-width: 810px) {
    .short_info_product {
        align-items: center;
        justify-content: center;
    }

    .short_info_images {
        margin: 0 10px 20px 10px;
    }

    .info_images_div {
        margin: 0;

        flex-wrap: wrap;

        order: 1;

        align-items: center;
        justify-content: center;
    }

    .short_info_text {
        margin-top: 10px;
        order: 2;
    }

    .short_info_header,
    .short_info_dimensions,
    .short_info_colors {
        justify-content: center;
        text-align: center;
    }

    .logo_favorites {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .logo_div {
        align-items: center;
        margin-bottom: 20px;
    }

    .logo_info {
        text-align: center;
    }

    .menu_list {
        flex-wrap: wrap;

        .menu_item {
            width: 27%;
        }
    }
}

@media (min-width: 716px) and (max-width: 770px) {
    .short_info_product {
        align-items: center;
        justify-content: center;
    }

    .short_info_images {
        margin: 0 10px 20px 10px;
    }

    .info_images_div {
        margin: 0;

        flex-wrap: wrap;

        order: 1;

        align-items: center;
        justify-content: center;
    }

    .short_info_text {
        margin-top: 10px;
        order: 2;
    }

    .short_info_header,
    .short_info_dimensions,
    .short_info_colors {
        justify-content: center;
        text-align: center;
    }

    .logo_favorites {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .logo_div {
        align-items: center;
        margin-bottom: 20px;
    }

    .logo_info {
        text-align: center;
    }

    .menu_list {
        flex-wrap: wrap;

        .menu_item {
            width: 26%;
        }
    }
}


@media (min-width: 601px) and (max-width: 715px) {
    .short_info_product {
        align-items: center;
        justify-content: center;
    }

    .short_info_images {
        margin: 0 10px 20px 10px;
    }

    .info_images_div {
        margin: 0;

        flex-wrap: wrap;

        order: 1;

        align-items: center;
        justify-content: center;
    }

    .short_info_text {
        margin-top: 10px;
        order: 2;
    }

    .short_info_header,
    .short_info_dimensions,
    .short_info_colors {
        justify-content: center;
        text-align: center;
    }

    .logo_favorites {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .logo_div {
        align-items: center;
        margin-bottom: 20px;
    }

    .logo_info {
        text-align: center;
    }

    .menu_list {
        flex-wrap: wrap;

        .menu_item {
            width: 26%;
        }
    }

    .header_info {
        flex-wrap: wrap;
    }

    .to_receive_orders {
        width: 100%;
        margin: 0;
    }

    .header_info_link {
        width: 100%;
        margin: 0;

        &:first-child {
            margin: 5px 0;
        }
    }
}

@media (min-width: 571px) and (max-width: 600px) {
    .short_info_product {
        align-items: center;
        justify-content: center;
    }

    .short_info_images {
        margin: 0 10px 20px 10px;
    }

    .info_images_div {
        margin: 0;

        flex-wrap: wrap;

        order: 1;

        align-items: center;
        justify-content: center;
    }

    .short_info_text {
        margin-top: 10px;
        order: 2;
    }

    .short_info_header,
    .short_info_dimensions,
    .short_info_colors {
        justify-content: center;
        text-align: center;
    }

    .logo_favorites {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .logo_div {
        align-items: center;
        margin-bottom: 20px;
    }

    .logo_info {
        text-align: center;
    }

    .menu_list {
        flex-wrap: wrap;

        .menu_item {
            width: 26%;
        }
    }

    .header_info {
        flex-wrap: wrap;
    }

    .to_receive_orders {
        width: 100%;
        margin: 0;
    }

    .header_info_link {
        width: 100%;
        margin: 0;

        &:first-child {
            margin: 5px 0;
        }
    }

    .footer_container {
        flex-wrap: wrap;
    }

    #for_questions_call {
        width: 100%;
    }

    .know_ul {
        width: auto;
    }
}

@media (min-width: 525px) and (max-width: 570px) {
    .short_info_product {
        align-items: center;
        justify-content: center;
    }

    .short_info_images {
        margin: 0 10px 20px 10px;
    }

    .info_images_div {
        margin: 0;

        flex-wrap: wrap;

        order: 1;

        align-items: center;
        justify-content: center;
    }

    .short_info_text {
        margin-top: 10px;
        order: 2;
    }

    .short_info_header,
    .short_info_dimensions,
    .short_info_colors {
        justify-content: center;
        text-align: center;
    }

    .logo_favorites {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .logo_div {
        align-items: center;
        margin-bottom: 20px;
    }

    .logo_info {
        text-align: center;
    }

    .menu_list {
        flex-wrap: wrap;

        .menu_item {
            width: 40%;
        }
    }

    .header_info {
        flex-wrap: wrap;
    }

    .to_receive_orders {
        width: 100%;
        margin: 0;
    }

    .header_info_link {
        width: 100%;
        margin: 0;

        &:first-child {
            margin: 5px 0;
        }
    }

    .footer_container {
        flex-wrap: wrap;
    }

    #for_questions_call {
        width: 100%;
    }

    .know_ul {
        width: auto;
    }

    .main {
        align-items: center;
        justify-content: center;
    }

    .card_border {
        margin: 0 4px 20px 4px;
    }
}

@media (max-width: 524px) {
    .short_info_product {
        align-items: center;
        justify-content: center;
    }

    .short_info_images {
        min-width: 300px;
        margin: 0 10px 20px 10px;
    }

    .info_images_div {
        margin: 0;

        flex-wrap: wrap;

        order: 1;

        align-items: center;
        justify-content: center;
    }

    .short_info_text {
        margin-top: 10px;
        order: 2;
    }

    .short_info_header,
    .short_info_dimensions,
    .short_info_colors {
        justify-content: center;
        text-align: center;
    }

    .logo_favorites {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .logo_div {
        align-items: center;
        margin-bottom: 20px;
    }

    .logo_info {
        text-align: center;
    }

    .menu_list {
        flex-wrap: wrap;

        .menu_item {
            width: 40%;
        }
    }

    .header_info {
        flex-wrap: wrap;
    }

    .to_receive_orders {
        width: 100%;
        margin: 0;
    }

    .header_info_link {
        width: 100%;
        margin: 0;

        &:first-child {
            margin: 5px 0;
        }
    }

    .footer_container {
        flex-wrap: wrap;
    }

    #for_questions_call {
        width: 100%;
    }

    .know_ul {
        width: auto;
    }

    .main {
        align-items: center;
        justify-content: center;
    }

    .card_border {
        margin: 0 4px 20px 4px;
    }

    .logo {
        text-align: center;
    }

    .button_add_favorites {
        font-size: 15px;
    }
}


@media (max-width: 335px) {
    .short_info_product {
        align-items: center;
        justify-content: center;
    }

    .short_info_images {
        min-width: 300px;
        margin: 0 10px 20px 10px;
    }

    .info_images_div {
        margin: 0;

        flex-wrap: wrap;

        order: 1;

        align-items: center;
        justify-content: center;
    }

    .short_info_text {
        margin-top: 10px;
        order: 2;
    }

    .short_info_header,
    .short_info_dimensions,
    .short_info_colors {
        justify-content: center;
        text-align: center;
    }

    .logo_favorites {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .logo_div {
        align-items: center;
        margin-bottom: 20px;
    }

    .logo_info {
        text-align: center;
    }

    .menu_list {
        flex-wrap: wrap;

        .menu_item {
            width: 40%;
        }
    }

    .header_info {
        flex-wrap: wrap;
    }

    .to_receive_orders {
        width: 100%;
        margin: 0;
    }

    .header_info_link {
        width: 100%;
        margin: 0;

        &:first-child {
            margin: 5px 0;
        }
    }

    .footer_container {
        flex-wrap: wrap;
    }

    #for_questions_call {
        width: 100%;
    }

    .know_ul {
        width: auto;
    }

    .main {
        align-items: center;
        justify-content: center;
    }

    .card_border {
        margin: 0 4px 20px 4px;
    }

    .logo {
        text-align: center;
    }

    .button_add_favorites {
        font-size: 15px;
    }

    #dropdown_catalog {
        width: 280px;
    }
}